@model HomeModel
@{
    ViewData["Title"] = "Login";
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
<div class="login-box">
    <form asp-controller="Home" asp-action="Entrar" method="post" id="loginForm">
        <h1>Entrar</h1>
        <input type="text" asp-for="Email" id="email" placeholder="Digite seu e-mail" name="email" required>
        <div class="invalid-feedback" id="emailError" style="display: none;">
            O e-mail deve conter "@@" e terminar com ".com".
        </div>

        <input type="password" asp-for="Password" id="password" placeholder="Digite sua senha" name="password" required>
        <div class="invalid-feedback" id="passwordError" style="display: none;">
            A senha deve ter no mínimo 4 caracteres.
        </div>

        <button class="btn btn-primary w-100" type="submit" onclick="validateLoginForm(event)">Entrar</button>
    </form>
    <div class="register">
        <a asp-area="" asp-controller="Home" asp-action="Register">Cadastrar</a>
    </div>
</div>
