
@model HomeModel


<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Banco <stronger>Nacional</stronger> de Consoles</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        
        @if ( Model != null) 
        {
            <li class="nav-item">
                <a class="btn btn-outline-danger" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sair">Logout</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" class="nav-link text-dark" href="#catalog">Catálogo</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" class="nav-link text-dark" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" class="nav-link text-dark" href="#contact">Contato</a>
            </li>
            <li class="nav-item" src="~/images/usuario-de-perfil.png">
                <a asp-area="" asp-controller="Home" asp-action="Perfil">
                    <img src="~/images/usuario-de-perfil.png" alt="Perfil" class="perfilIcon">
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="btn btn-outline-success" class=" nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" class="nav-link text-dark" href="#catalog">Catálogo</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" class="nav-link text-dark" href="#about">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" class="nav-link text-dark" href="#contact">Contato</a>
            </li>
        }

        
    </ul>
</div>

